.ant-form-item-explain-error {
  margin-bottom: 10px;
  margin-top: 5px;
}
.simplebar-content {
  height: 100%;
}
.ant-menu-submenu-horizontal .ant-menu-submenu-arrow {
  display: block;
  right: -2rem;
  transform: rotate(90deg);
}
.create-modal-form .ant-row .ant-col {
  min-height: unset;
  width: 100%;
}

.create-modal-form .ant-row .ant-col {
  min-height: unset;
  width: 100%;
}

.create-modal-form .ant-row .ant-col label {
  float: left;
}
.ant-select.ant-select-single.ant-select-show-arrow .ant-select-selector {
  height: 40px !important;
  border-radius: 6px !important;
  line-height: 40px !important;
}
.ant-select.ant-select-single.ant-select-show-arrow .ant-select-selector .ant-select-selection-item {
  line-height: 40px !important;
}

/* table */
.ant-table-thead > tr > th {
  background-color: #039be5 !important;
  color: white !important;
  font-size: 16px !important;
}
thead[class*='ant-table-thead'] th:last-child {
  text-align: center !important;
}
.ant-pagination-item-active {
  border-color: #039be5 !important;
}
.ant-pagination-item-active a {
  color: #039be5 !important;
}
.ant-table-tbody > tr > td {
  padding: 0 16px 0 16px !important;
  height: 40px !important;
}
.ant-table-row {
  height: 56px !important;
  font-size: 14px !important;
}
.ant-table-content {
  font-family: 'Roboto' !important;
}
.ant-table-thead .ant-table-cell {
  height: 38px !important;
  padding: 0 16px 0 16px !important;
}
.ant-table-title {
  font-size: 32px !important;
  padding: 16px 0 16px 0 !important;
}
.ant-table-wrapper {
  width: 100%;
}
.ant-select-selection-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-datepicker .ant-input-wrapper {
  height: 100%;
}

.input-datepicker .ant-input-wrapper .ant-input {
  height: 100%;
  border-radius: 6px 0 0 6px;
}
