.ant-form-item-explain-error {
  margin-bottom: 10px;
  margin-top: 5px;
}
.simplebar-content {
  height: 100%;
}
.ant-menu-submenu-horizontal .ant-menu-submenu-arrow {
  display: block;
  right: -2rem;
  transform: rotate(90deg);
}
